.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  font-size: 62.5%;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ========= START COMPONENTS ========= */
.modal-btn {
  min-width: 160px;
  padding: 12px 16px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}
@media screen and (min-width: 1200px) {
  .modal-btn {
    font-size: 1rem;
  }
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.modal-btn-theme-light {
  color: #555555;
}

.modal-btn-theme-dark {
  color: #ffffff;
}

.social-links-list {
  display: flex;
  align-items: center;
}

.hero-social-links-list {
  transform: rotate(-90deg);
  transform-origin: left top;
}

.social-links-list::before {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
  content: "";
  flex-shrink: 0;
  margin-right: 40px;
}

.social-links-list-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-list-link {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-links-list-link:hover,
.social-links-list-link:focus {
  color: #ff6c00;
}

.overtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.overtitle::before {
  width: 60px;
  height: 1px;
  content: "";
  margin-right: 20px;
}

.overtitle-theme-dark {
  color: rgba(255, 255, 255, 0.6);
}

.overtitle-theme-dark::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.overtitle-theme-light {
  color: #303030;
}

.overtitle-theme-light::before {
  background-color: #303030;
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #ffffff;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.description-theme-dark {
  color: #ffffff;
}

.description-theme-light {
  color: #555555;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;
  color: #ffffff;
}

.title-theme-light {
  margin-bottom: 20px;
  color: #303030;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.social-list-icon {
  fill: #303030;
  transition: fill 250ms linear;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #303030;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ff6c00;
}

/* ========= END COMPONENTS ========= */
/* ========= START HEADER ========= */
.header {
  position: absolute;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 22;
}
@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
  }
}
.header .navigation {
  display: flex;
  align-items: center;
}
.header .header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .header .nav-list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header .nav-list {
    display: flex;
  }
}
.header .logo {
  margin-right: 4rem;
  display: block;
}
.header .nav-list-item:not(:last-child) {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1200px) {
  .header .nav-list-item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.header .nav-list-link {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;
}
@media screen and (min-width: 1200px) {
  .header .nav-list-link {
    font-size: 1rem;
    line-height: 3;
  }
}
.header .nav-list-link:hover, .header .nav-list-link:focus {
  color: #ff6c00;
}
.header .contact-number {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header .contact-number {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    margin-left: auto;
    margin-right: 40px;
    color: #ffffff;
    transition: color 250ms linear;
  }
}
.header .contact-number:hover, .header .contact-number:focus {
  color: #ff6c00;
}

.button-container__order-btn-icon {
  fill: #ffffff;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button {
  position: absolute;
  top: 25%;
  fill: #ffffff;
  right: 3rem;
  z-index: 2;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: #ff6c00;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #ff6c00;
}

@media screen and (max-width: 1199px) {
  #menu-container {
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    position: absolute;
    border: none;
    top: 0;
    left: 75%;
    right: 1%;
    z-index: 1;
    height: 60vh;
    background-color: #555555;
    border: none;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #menu-container.is-open {
    transform: translateY(0);
  }
}

/* ========= END HEADER ========= */
/* ========= START HERO ========= */
.hero-container {
  display: flex;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;
  padding-left: 26px;
  padding-bottom: 40px;
  width: 100px;
}

.hero-right-side {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg.jpg");
  background-size: cover;
  background-position: right;
  background-color: #303030;
  padding-top: 472px;
  padding-bottom: 606px;
  padding-left: 100px;
  flex-grow: 1;
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  .hero-right-side {
    height: auto;
    padding-top: 272px;
    padding-bottom: 206px;
  }
}

.hero-description {
  max-width: 400px;
}

/* ========= END HERO ========= */
/* ========= START ABOUT ========= */
@media screen and (min-width: 1200px) {
  .about-container {
    display: flex;
    justify-content: space-between;
  }
}

.about-left-side,
.about-right-side {
  flex-basis: calc((100% - 30px) / 2);
}

.about-right-side {
  padding-left: 34px;
}

.about-gallery {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
@media screen and (min-width: 1200px) {
  .about-gallery {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .about-gallery-item:last-child {
    display: none;
  }
}

.about-description {
  margin-bottom: 20px;
}

.about-text {
  width: 75%;
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 2rem;
  padding-right: 2rem;
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .about-text {
    width: 100%;
    text-align: start;
  }
}

/* ========= END ABOUT ========= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 580px;
  border-radius: 4px;
  padding: 3rem 2rem;
  background-color: #fff;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #000;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  fill: #ff6c00;
  border: 1px solid #ff6c00;
}

.modal-form-btn {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: none;
}

.modal-title {
  font-family: inherit;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: #212121;
}

.form-field {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-form-input-wrapper {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
}

.form-label-wrapper {
  margin-top: 12px;
}

.modal-form .form-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 1.5rem;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy.link {
  color: #2196F3;
}

.field-checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* border: 1px solid #000; */
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-left: 10px;
  background-image: url("../images/Vector.svg");
  border: #212121;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  transform: scale(1.2);
  border-color: transparent;
  background-color: #ff6c00;
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid #000000;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-btn .form-btn {
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.label {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.71;
  margin-right: auto;
  /* border: 1px solid #000; */
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus,
.comment:hover {
  border: 1px solid #ff6c00;
}

.comment:focus {
  outline: none;
  border-color: #ff6c00;
}

.form-input:focus ~ .box-icon,
.form-input:hover ~ .box-icon {
  fill: #ff6c00;
}

.form-input:hover {
  border: 1px solid #ff6c00;
}

.form-input:focus {
  outline: none;
  border: 1px solid #ff6c00;
}

.box-icon.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-desc {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.services {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-image: url("../images/services/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111319;
}
@media screen and (min-width: 1200px) {
  .services {
    width: 100%;
  }
}

.services-list-wrapper {
  display: flex;
}

.services-list {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
}

.services-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-list-item {
  display: flex;
  justify-content: space-between;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.services-modal-btn {
  display: block;
  margin: 0 auto;
}

/* ========= START ADVANTAGES ========= */
@media screen and (min-width: 1200px) {
  .advantages-container {
    display: flex;
    justify-content: space-between;
  }
}

.advantages-left-side,
.advantages-right-side {
  flex-basis: calc((100% - 30px) / 2);
}

.advantages-right-side {
  padding-left: 34px;
}
@media screen and (min-width: 1200px) {
  .advantages-right-side {
    padding-left: 0;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 45rem;
  margin: 0 0 0 auto;
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 370px;
  }
}

.advantages-list-item {
  width: 170px;
  min-height: 134px;
  padding: 21px;
  background-color: #f7f7f7;
}

.advantages-list-item:nth-child(even) {
  margin-top: 30px;
}

.advantages-list-quantity {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
}

.advantages-list-description {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.advantages-description {
  max-width: 460px;
}

/* ========= END ADVANTAGES ========= */
.employees-section {
  background-color: #f7f7f7;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 1200px) {
  .employees-section {
    width: 100%;
  }
}

.employees-section .title {
  margin-bottom: 44px;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
@media screen and (min-width: 1200px) {
  .employees {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.employees-card {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.employees-content-wrapper {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}

.employees-name {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.employees-position {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 0.5rem;
}

.employees-content-wrapper .social-list {
  justify-content: center;
}

.reviews {
  padding-top: 80px;
  padding-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 92px;
    padding-bottom: 66px;
  }
}

.reviews__photo {
  display: flex;
  justify-content: center;
}

.reviews__description-wrapper:before {
  content: " ";
  position: absolute;
  top: 28px;
  left: 60px;
  width: 54px;
  height: 40px;
  background-image: url(../images/reviews/quotes.png);
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .reviews__description-wrapper:before {
    top: 30px;
    left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__description-wrapper:before {
    top: 32px;
    left: 50px;
  }
}

.reviews__description-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  max-width: 926px;
  background-color: rgba(247, 247, 247, 0.497);
}
@media screen and (min-width: 768px) {
  .reviews__description-wrapper {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__description-wrapper {
    width: 926px;
    margin-top: 15px;
  }
}

.reviews__text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.58;
  text-align: center;
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 31px);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    width: 460px;
    font-size: 1rem;
    line-height: 2.14;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .reviews__text {
    width: 750px;
    font-size: 1.4rem;
    line-height: 1.87;
  }
}

.reviews__person-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .reviews__person-name {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__person-name {
    font-size: 20px;
    line-height: 1.85;
  }
}

.reviews__person-name:before {
  content: "";
  width: 32px;
  height: 4px;
  margin-bottom: 18px;
  background-image: url(../images/reviews/dots.png);
}
@media screen and (min-width: 768px) {
  .reviews__person-name:before {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__person-name:before {
    margin-bottom: 15px;
  }
}

.slick-dots {
  position: unset;
  bottom: unset;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  cursor: pointer;
}
.slick-dots li:not(:first-child) {
  margin-left: 18px;
}

.slick-dots li button {
  position: relative;
  width: 12px;
  height: 12px;
}

.slick-dots li button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/gallery/Ellipse-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slick-dots li.slick-active button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../images/gallery/Home-icon.svg);
  fill: #ff6c00;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  background-color: #f7f7f7;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: 100%;
  }
}

.contacts-card__item {
  background: white;
  box-shadow: 0px 8px 30px rgba(21, 20, 21, 0.1);
  border-radius: 24px;
  width: 50rem;
  height: 100%;
  padding: 3rem 2rem;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-card__type {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #555555;
  text-transform: uppercase;
  border-radius: 4px;
  height: 16px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1200px) {
  .contacts-card__type {
    font-size: 1.5rem;
  }
}

.contacts-card__description {
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #907e82;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.schedule-list {
  margin-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 25px;
  padding-bottom: 25px;
}

.schedule-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.schedule-list__days, .schedule-list__time {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.83;
}

.schedule-list__time {
  color: #ff6c00;
  font-size: 1.5rem;
}

.connection-list__link {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #907e82;
}

/* ========= START FOOTER ========= */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: rgb(var(--primary-text-color-theme-dark));
}

/* ========= END FOOTER ========= *//*# sourceMappingURL=main.css.map */